{% extends "layout.html" %}


{% block title %}

    Change Password

{% endblock %}


{% block accountname %}{{accountname}}{% endblock %}


{% block head %}

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f2f2f2;
            text-align: center;
        }

        .container {
            max-width: 400px;
            margin: 35px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            margin-bottom: 20px;
        }

        .formitem {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>

{% endblock %}


{% block main %}

    <div class="container">
        <h2>Change Password</h2>
        <form action="/changepassword" method="post">
            <div class="formitem">
                <label for="oldpassword">Old Password:</label>
                <input type="password" id="password" name="oldpassword" required>
            </div>
            <div class="formitem">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="newpassword" required>
                <span class="hint-text" for="username">Password must be at least 8 charachters or longer</span>
            </div>
            <div class="formitem">
                <label for="confirm">Re-write New Password:</label>
                <input type="password" id="password" name="confirm" required>
            </div>
            <div class="formitem">
                <input type="submit" value="Change Password" class="btn">
            </div>
        </form>
    </div>

{% endblock %}