{% extends "layout.html" %}

{% block title %}

    Import

{% endblock %}

{% block accountname %}{{accountname}}{% endblock %}

{% block head %}

{% endblock %}

{% block main %}

    <form>
        <label for="import" style="font-size: 33px;">Import a game (PGN)</label>
        <br>
        <span class="hint-text" style="font-size: 14px;" for="username">You will be shown a random position from the game
            and will have to find the best move</span>
        <br>
        <br>
        <textarea name="import" placeholder="Paste PGN here"
            style="display: inline-block; width: 400px; height: 300px; margin-left: 120px;"></textarea>
        <input type="button" value="Import"
            style="display: inline-block; vertical-align: top; margin-left: 20px; margin-top: 125px; font-size: 23px;">
    </form>
    
{% endblock %}